@use "../../../App.scss";

.rec-skill-container {
  background-color: App.$secondaryClr;
  padding: 4px 6px;
  margin: 0px 0px 10px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in;
  min-width: 300px;
  max-width: 85%;
  font-size: 0.75em;

  &:hover {
    background-color: App.$drkSecondaryClr;
  }
}

.rec-unique-skill-container {
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;

  &:before {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    border: 3px solid transparent; /*2*/
    opacity: 1;
    z-index: -1;

    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
      )
      border-box;
    border-radius: 7px;
  }

  .rec-skill-unique-uma-container {
    text-align: center;
  }

  .rec-skill-unique-uma-image {
    max-width: 128px;
    max-height: 128px;
    display: inline-block;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.rec-skill-details-container {
  position: relative;
  width: 85%;
  z-index: 100;
}

.details-false {
  max-height: 0px;
  overflow: hidden;
  border: none;
  padding: none;
  visibility: hidden;
}

.details-true {
  animation: slideDown 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.rec-skill-details-info {
  position: absolute;
  background-color: App.$secondaryClr;
  border: 3px solid App.$primaryClr;
  padding: 5px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 28px, rgba(0, 0, 0, 0.22) 0px 5px 5px;

  inset: 0px auto auto 0px;
  border-radius: 7px;

  & > * {
    padding: 2px 0;
    word-break: break-word;
    overflow-wrap: break-word;
    text-align: left;
    p:not(p:first-child) {
      font-size: 0.8rem;
      font-family: "Open Sans", "Helvetica", "sans-serif";
    }
    & > p:first-child {
      color: App.$primaryClr;
    }
  }
}

.rec-skill-details {
  display: flex;
  flex-direction: column;
  translate: -60px 60px;
  min-width: 267px;

  .support-card-images {
    width: 50px;
    height: 50px;
  }
}

.rec-skill-comment-container {
  translate: 205px 60px;
  max-width: 250px;
  width: 100%;
}

.rec-skills-list {
  display: grid;
  width: 100%;

  // grid-template-columns: repeat(2, minmax(400px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(min-content, max-content);
  grid-auto-flow: row;
  font-size: 0.7rem;
  position: relative;
}

.rec-skill-front {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.rec-skill {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: App.$secondaryClr;
  border-radius: 16px;
  padding: 8px;
  cursor: pointer;
  width: 100%;
}

.rec-skill-JPname {
  border-bottom: 1.5px solid black;
}

.rec-skill-name-container {
  width: 90%;
  padding-left: 5px;
  padding-right: 5px;
}

.rec-gold-skill-container {
  border: 3px solid App.$goldClr;
}

.rec-white-skill-container {
  border: 3px solid App.$whiteClr;
}

.rec-gold-skill,
.rec-white-skill {
  display: flex;
  flex-direction: row;
}

.rec-skill-image {
  width: 20%;
  img {
    width: 42px;
    height: 42px;
    vertical-align: middle;
  }
}

.rec-skill-condition,
.rec-skill-description {
  p {
    white-space: pre-wrap;
  }
}

.rec-skill-hints {
  padding: 4px 0;
  word-break: break-word;
  overflow-wrap: break-word;
  text-align: left;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(75px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
