@use "../../../App.scss";

input {
  text-align: center;
}

.title-block-container{
  width:100%;

  img {
    width:100%;
      max-height:350px;
  }
 }

.uma-details-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.uma-stats-container,
.uma-aptitude-container {
  @include App.uma-stat();
  margin-bottom: 10px;
  margin-top: 10px;
}

.uma-stats-container {
  .uma-stat {
    flex-direction: column;
    align-items: center;

  }
}

.uma-aptitude-container {
  .uma-aptitude {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    label {
      margin-right: 10px;
    }

    select {
      width: 80px;
    }
  }
}

.uma-label {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;

  & > * {
    transition: all 0.2s ease-out 0.1s;
  }

  .jp-label {
    position: absolute;
    display: block;
  }

  .en-label {
    display: block;
    transform: translateY(50px);
  }

  &:hover .en-label {
    transform: translateY(0px);
  }

  &:hover .jp-label {
    transform: translateY(-50px);
  }
}
