@use "../../App.scss";

.track-info-container {
  animation: transform 0.5s cubic-bezier(0.28, 1.64, 0.58, 0.87) 0.8s,
    opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0.8s;

  opacity: 1;
  left: 0%;
  width: 100%;
}

.track-info {
  border: 3px solid App.$primaryClr;
  border-radius: 7px;
  text-align: center;
  padding: 4px 6px;
  margin: 0px 5px 10px;
  background-color: rgb(256, 256, 256, 0.8);

  img {
    width: 49px; //Change back to 50px
    height: 49px; //Change back to 50px
  }
}

.track-info-header {
  height: 70px;
  h3 {
    text-align: center;
  }
}

.track-skill-image {
  background-color: App.$secondaryClr;
  padding: 4px 6px;
  margin: 0px 0px 10px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 250px;
  max-width: 80%;
  border: 3px solid App.$whiteClr;
  img {
    width: 42px;
    height: 42px;
  }
}

.track-skill-name-container {
  width: 90%;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.75em;

  letter-spacing: 0.3px;
}

.track-skill-JPname {
  border-bottom: 1.5px solid black;
}

.track-info-skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
