@use "../../../App.scss";

.race-track-skill-box-container {
  width: auto;
  min-width: 550px;
  background-color: App.$secondaryClr;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4px 6px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 7px;
  position: relative;
}

//Gold Skill

.race-track-skill-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  width: 100%;
  padding: 5px;
  border-bottom: 1.5px solid black;
}

.race-track-skill-name-container {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
  width: 90%;

  .race-track-skill-JPname {
    border-bottom: 1.5px solid black;
  }
}

.race-track-skill-icon {
  width: auto;
  padding-right: 10px;
  display: flex;
  align-items: center;
  img {
    width: 42px;
    height: 42px;
  }
}

.race-track-skill-name {
  width: 90%;
  padding-left: 10px;
}

.race-track-skill-box-1,
.race-track-skill-box-4 {
  border: 3px solid App.$whiteClr;
}

.race-track-skill-box-2 {
  border: 3px solid App.$goldClr;
}

.race-track-skill-box-3 {
  position: relative;

  &:before {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    border: 3px solid transparent; /*2*/
    opacity: 0.5;
    z-index: -1;
    border-radius: 7px;

    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
      )
      border-box;
  }
}

.race-track-skill-box-6 {
  border: 3px solid App.$evoClr;
}

.race-track-details-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  white-space: pre-line;

  p {
    font-size: 13px;
  }
}

.race-track-details-skill {
  padding: 10px;
  & > * {
    padding-bottom: 10px;
  }
}

.skill-overlay-digital-nerd {
  transition: all 1s ease-in;
  margin-right: 30%;
  opacity: 0;
  right: 0%;
}

.skill-overlay-digital-nerd-true {
  position: absolute;
  right: -75%;
  z-index: -1;
  bottom: -10%;
  opacity: 100;
  transition: all 1s ease-in;

  img {
    height: 400px;
    width: auto;
  }
}

.digital-text {
  position: absolute;
  text-align: center;
  top: 10%;
  left: 6%;
  height: 20%;
  width: 40%;

  letter-spacing: 1px;
  .digital-text-insult {
    color: App.$debuffClr;
    font-weight: 900;
  }
  p {
    font-size: 2px !important;
  }
}
