@use "../../App.scss";

.track-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.track-button {
  transition: all 0.1s ease-out 0.1s;
  margin-left: 10px;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
  &:hover {
    background: App.$primaryClr;
    color: white;
    cursor: pointer;
  }
}

.show-active {
  background: App.$primaryClr;
  color: white;
  &:hover {
    background: App.$primaryClr;
    color: white;
    cursor: default;
  }
}

.track-breakdown-container {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.slopes-spurt-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.race-slopes {
  width: 50%;
  min-width: 230px;
}
.spurt-details {
  width: 50%;
  min-width: 230px;
}

.section-order {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  .sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 200px));
    grid-gap: 10px;
    justify-content: center;

    & > * {
      display: flex;
      width: 190px;
      margin: 10px;
      flex-direction: column;
      flex: 1;
      min-width: 0;
    }
  }
}

.section-type {
  display: grid;
  width: 50%;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  justify-content: center;

  & > * {
    display: flex;
    min-width: 230px;
    flex: 1;
  }
}

.section-title {
  @include App.labelContainer(50%);
  max-width: 200px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

@mixin raceSection($colour) {
  border: 1px solid $colour;
  background-color: $colour;
  border-radius: 5px;
  width: 230px;
  margin: 0 auto;
  margin-top: 5px;
}

.corner {
  @include raceSection(App.$debuffClr);
}

.straight {
  @include raceSection(App.$recoveryClr);
}

.slope {
  @include raceSection(App.$primaryClr);
}

.race-phase {
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  grid-gap: 10px;
  justify-content: center;
}

.race-phase-details {
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 170px;
  margin: 0 auto;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 10px;

  &::before {
    content: "";
    background-color: App.$primaryClr;
    z-index: -10;
    width: 190px;
    height: 65px;
    position: absolute;
    left: -10px;
    top: -5px;
    transform: rotate(-3deg);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
      rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
      rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
}
