.phases-bar-container {
  display: block;
  position: relative;
  height: 10px;
  background-color: black;
}

.phase-seperator {
  height: 100px;
  position: absolute;
  background-color: black;
  display: block;
}
