@use "../../App.scss";

$overviewClr: black;

.CMGuide-main-container {
  width: 90%;
  margin: 0 auto;
}

.CMGuide-picture-container {
  overflow: hidden;
  height: 610px;

  clip-path: polygon(0% 0%, 0% 100%, 100% 75%, 100% 0%);

  // &::before {
  //   background-color: App.$primaryClr;
  //   height: 100%;
  //   content: "";
  //   z-index: 100;
  //   bottom: 20%;
  //   position: absolute;
  //   width: 100%;
  //   clip-path: polygon(0% 80%, 0% 80%, 100% 60%, 100% 65%);
  // }
}

.CMGuide-picture {
  background-repeat: no-repeat;
  position: relative;
  width: 2080px;
  height: 802px;

  img {
    opacity: 0.8;
    animation: sizeIn 2s cubic-bezier(0.23, 1, 0.32, 1) both;
  }
}

.CMGuide-overview {
  position: absolute;
  text-transform: uppercase;
  animation: textSlideIn 2s cubic-bezier(0.23, 1, 0.32, 1) 0.333s;
  animation-fill-mode: forwards;
  text-align: center;
  text-shadow: 2px 0 $overviewClr, -2px 0 $overviewClr, 0 2px $overviewClr,
    0 -2px $overviewClr, 1px 1px $overviewClr, -1px -1px $overviewClr,
    1px -1px $overviewClr, -1px 1px $overviewClr;
  color: white;
  p {
    font-size: 20px;
  }

  .CMGuide-overview-title {
    font-size: 30px;
  }
}

.CMGuide-title {
  position: absolute;
  text-transform: uppercase;
  animation: titleSlideIn 2s cubic-bezier(0.23, 1, 0.32, 1) 0.333s;
  animation-fill-mode: forwards;

  img {
    width: 600px;
    height: auto;
  }
}

@keyframes sizeIn {
  0% {
    width: 130%;
    height: 130%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes titleSlideIn {
  0% {
    top: 50%;
    left: 15%;
    opacity: 0%;
  }
  100% {
    top: 15%;
    left: 15%;
    opacity: 100%;
  }
}
@keyframes textSlideIn {
  0% {
    top: 17%;
    right: 0%;
    opacity: 0%;
  }
  100% {
    top: 17%;
    right: 18%;
    opacity: 100%;
  }
}

.rec-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

  overflow: hidden;
  & > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 500px;
    text-align: center;
  }
  div:before {
    content: "";
    height: 3px;
    width: 100%;
    background-color: App.$primaryClr;
    z-index: -10;
    position: absolute;
    top: 25%;
  }

  h3 {
    background-color: white;
  }
}

.track-info-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  min-height: 300px;
  grid-auto-rows: minmax(min-content, max-content);
  grid-auto-flow: row;
}

.rec-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(270px, 1fr));
  grid-gap: 10px;
  grid-auto-flow: row;
  grid-auto-rows: minmax(min-content, max-content);
  text-align: center;
  h3 {
    text-align: center;
  }
}

.rec-skills-container {
  border: 5px solid App.$primaryClr;
  border-radius: 7px;
  width: 100%;
  margin: 0 auto;
  padding: 4px 6px;
}

.rec-skills-Everyone {
  grid-column-start: 1;
  grid-column-end: 3;
}

.rec-skills-Ill-Advised {
  grid-column-start: 3;
  grid-column-end: 5;
  border: 5px solid App.$debuffClr;
}

@media only screen and (max-width: 1200px) {
  .rec-container {
    grid-template-columns: repeat(2, minmax(200px, 250px));
  }

  .rec-skills-Everyone,
  .rec-skills-Ill-Advised {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .rec-skills-container {
    padding: 2px;
  }
}

@media only screen and (max-width: 600px) {
  .rec-skills-container {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.rec-skills-comment {
  p {
    font-size: 12px;
    padding-bottom: 2px;
  }
}

.rec-divider {
  width: 100%;
  height: 2px;
  background-color: App.$primaryClr;
}
