@use "../../App.scss";

$overviewClr: black;

.CMGuide-main-container {
  width: 90%;
  width: 1650px;
  margin: 0 auto;
}

.CMGuide-picture-container {
  overflow: hidden;
  height: 700px;
  clip-path: polygon(0% 0%, 0% 100%, 100% 80%, 100% 0%);
}

.CMGuide-picture {
  background-repeat: no-repeat;
  position: relative;
  width: 2100px;
  height: 750px;
  img {
    opacity: 0.8;
    animation: sizeIn 2s cubic-bezier(0.23, 1, 0.32, 1) both;
  }
}

.CMGuide-overview {
  position: absolute;
  text-transform: uppercase;
  animation: textSlideIn 2s cubic-bezier(0.23, 1, 0.32, 1) 0.333s;
  animation-fill-mode: forwards;
  text-align: center;
  text-shadow: 2px 0 $overviewClr, -2px 0 $overviewClr, 0 2px $overviewClr,
    0 -2px $overviewClr, 1px 1px $overviewClr, -1px -1px $overviewClr,
    1px -1px $overviewClr, -1px 1px $overviewClr;
  color: white;
  width: 600px;

  p {
    font-size: 20px;
  }

  .CMGuide-overview-title {
    font-size: 30px;
  }
}

.CMGuide-title {
  position: absolute;
  text-transform: uppercase;
  animation: titleSlideIn 2s cubic-bezier(0.23, 1, 0.32, 1) 0.333s;
  animation-fill-mode: forwards;

  img {
    width: 600px;
    height: auto;
  }
}

@keyframes sizeIn {
  0% {
    width: 130%;
    height: 130%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes titleSlideIn {
  0% {
    top: 50%;
    transform: translateX(100px);
    opacity: 0%;
  }
  100% {
    top: 15%;
    transform: translateX(100px);
    opacity: 100%;
  }
}
@keyframes textSlideIn {
  0% {
    top: 17%;
    transform: translateX(1200px);
    opacity: 0%;
  }
  100% {
    top: 17%;
    transform: translateX(900px);
    opacity: 100%;
  }
}

.CMGuide-footer-bg {
  img {
    z-index: -10;

    width: 1650px;
  }
}
//Recommended skills mobile mode

// @media only screen and (max-width: 1200px) {
//   .rec-container {
//     grid-template-columns: repeat(2, minmax(200px, 250px));
//   }

//   .rec-skills-Everyone,
//   .rec-skills-Ill-Advised {
//     grid-column-start: 1;
//     grid-column-end: 3;
//   }
//   .rec-skills-container {
//     padding: 2px;
//   }
// }

// @media only screen and (max-width: 600px) {
//   .rec-skills-container {
//     grid-column-start: 1;
//     grid-column-end: 3;
//   }
// }
